DEBUG=True
SECRET_KEY=Defina sua chave secreta aqui
ALLOWED_HOSTS=localhost, 127.0.0.1
DATABASE_URL=postgres://postgres:postgres@localhost/testedb
# Configuracoes do AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_SIGNATURE_VERSION='s3v4'
# Configuracoes para Debug Toolbar
INTERNAL_IPS=127.0.0.1
# Configuracao para SENTRY
SENTRY_DSN=https://ccea19a966084c6080b104bb32e6cc19@o502225.ingest.sentry.io/5584371