{% extends 'base/base.html' %}
{% load static %}
{% block title %}Python Pro - Aperitivo{% endblock %}
{% block description %}Página com vídeo gratuito de Python"{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="mt-4 mb-3">Video Aperitivo: Motivação</h1>

                <iframe width="560" height="315" src="https://www.youtube.com/embed/nEiAdLQCKD0" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>

            </div>
        </div>
    </div>
{% endblock body %}
