    <footer class="main-footer mt-5 pt-4 text-light">
        <div class="container">
            <dif class="row">
                <div class="col">
                    <h3>Entre em Contato</h3>
                    <address>
                        +1 321-330-5467
                        <br/>
                        <a href="mailto:{{ contato_email }}" class="text-light">{{ contato_email }}</a>
                    </address>
                </div>
            </dif>
        </div>
        <div class="rights pb-4">
            <div class="container">
                <dif class="row">
                    <div class="col">
                        {% now 'Y' %} Python Pro. Todos direitos reservados
                    </div>
                </dif>
            </div>
        </div>
    </footer>